body
{
	background-color: black;
	font-family: 'Lucida Grande', 'Verdana', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 8pt;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a
{
	color: #AAAAAA;
}

#screen
{
	margin: 0;
	padding: 0;
}

#canvas
{
	/*border: thin solid white;*/
	margin: 0;
	padding: 0;
}

#footer
{
	height: 20px;
	width: 100%;
	background-color: #090909;
	/*background-color: #990000;*/
	
	margin: 0;
	padding: 0;
}

#credits
{
	float: left;
	margin-left: 10px;
	color: #666666;
	text-shadow: #000000 0px 1px 1px;
}

#close
{
	float: right;
	height: 20px;
	margin-right: 10px;
}

#about
{
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	background-color: #151515;
	color: #666666;
	text-shadow: #000000 0px 1px 1px;
	width: 300px;
	height: 150px;
	display: none;
	font-weight: normal;
	
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
}

#window-text
{
	height: 120px;
}

#about h1
{
	font-size: 10pt;
}


#window-close
{
	width: 300px;
	height: 20px;
	text-align: center;
}

#window-close a
{
	background-color: #555555;
	padding: 3px;
	text-shadow: none;
	text-decoration: none;
	-webkit-border-radius: 3px;
	border: thin solid #555555;
	font-weight: bold;
	color: #222222;
}

#window-close a:hover
{
	background-color: #666666;
	border: thin solid #666666;
}
